[Unit]
Description=HelloWorld - .NET Core WebApp built & deployed via AWS

[Service]
WorkingDirectory=/opt/HelloWorld
ExecStart=/usr/bin/dotnet ./deploy/HelloWorld.dll &>> /var/log/helloworld.log
User=codedeploy
Group=codedeploy
RestartSec=10
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target